.logo-navbar{
    margin: 5px 10px;
    width: 70%;
} 

.nav-icon{
    margin: 0px 15px 0px 5px;
}

.gui,.val,.rob{
    padding: 0px 15px;
}


.parallax-container {
    height: 400px;
  }

.header{
    height: 100px;
}

.row{
    margin-bottom: 80px;
}

.row img{
    /* border: 2px solid red ; */
    border-radius: 5%;
}

p{
    margin: 15px 15px;
}
.navbar-page-overwatch {
  background-color: #9e9e9e !important;
}

/* CSS ROBIN */
.modal{
  overflow: hidden;
}
.modal .modal-content .row{
  margin-bottom: 0px;
  text-align: center;
}
.modal .modal-content{
  padding: 0px;
}
.modal{
  border-radius: 30px;
}
.modal .modal-content .row #form{
  display: none;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea{
  border-bottom: 1px solid #000000;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.input-field > label {
    color: #000000;
}
.modal-footer #send-button{
  color: black;
  background-color: white;
  border-radius: 5px;
}
.modal-footer #send-button:hover{
  background-color: #e0e0e0;
}
.selected-custom:hover{
  background:none!important;
}