
/* NAV */
.logo-navbar{
    margin: 5px 10px;
    width: 70%;
} 

.nav-icon{
    margin: 0px 15px 0px 5px;
}

.gui,.val,.rob{
    padding: 0px 15px;
}
body{
  background-color: #eeeeee;
}

.container{
background-color: #eeeeee;
}

.signin{
  padding-right: 15px;
  color: aqua;
}

/* MODAL */
.modal{
  overflow: hidden;
}
.modal .modal-content .row{
  margin-bottom: 0px;
  text-align: center;
}
.modal .modal-content{
  padding: 0px;
}
.modal{
  border-radius: 10px;
}
.modal .modal-content .row #form{
  display: none;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea{
  border-bottom: 1px solid #000000;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.input-field > label {
    color: #000000;
}
.modal-footer #send-button{
  color: black;
  background-color: white;
  border-radius: 5px;
}
.modal-footer #send-button:hover{
  background-color: #e0e0e0;
}
.selected-custom:hover{
  background:none!important;
}


/* CSS CAROUSELLE */
#ACII{
    background-image: url('../img/ACII_logo.png');
    background-position: center;
    background-size:60% auto;
    background-repeat: no-repeat;
}
#OW{
    background-image: url('../img/overwatch-logo.png');
    background-position: center;
    background-size:60% auto;
    background-repeat: no-repeat;
}
#ACIV{
    background-image: url('../img/logo-ac.png');
    background-position: center;
    background-size:60% auto;
    background-repeat: no-repeat;
}
#swipe-right{
    position: absolute;
    right: 0;
    top: 45%;
}
#swipe-left{
    position: absolute;
    left: 0;
    top: 45%;
}
/* CSS EASTEREGG */
#video{
  visibility: hidden;
}
#video.play{
  display: block;
  margin: auto;
  text-align: center;
  visibility: visible;
}
/* FOOTER */
.footer .container{
  background-color: #000000;
}
#foot{
  margin-bottom: 0px;
}
#contact{
  margin-top: 43px;
}